@{
    ViewData["Title"] = "Bize Ulaşın";
    Layout = "_Layout";
}

<div class="container my-5">
    <h1 class="text-center">Bize Ulaşın</h1>
    <p class="text-center text-muted">Herhangi bir sorunuz varsa, lütfen aşağıdaki iletişim bilgilerimizi kullanarak bize ulaşın.</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="list-group">
                <a href="tel:+901234567890" class="list-group-item list-group-item-action">
                    <strong>Telefon:</strong> +90 123 456 7890
                </a>
                <a href="mailto:info@wawapp.com" class="list-group-item list-group-item-action">
                    <strong>E-posta:</strong> info@wawapp.com
                </a>
                <a href="https://www.google.com/maps?q=İstanbul,+Türkiye" target="_blank" class="list-group-item list-group-item-action">
                    <strong>Adres:</strong> İstanbul, Türkiye
                </a>
            </div>
        </div>
    </div>
</div>
